# Laying these out as seperate requirements files, allows us to
# only included the relevent sets when running tox, and ensures
# we are only ever declaring out dependancies in one place.

-r requirements/optionals.txt
-r requirements/testing.txt
-r requirements/documentation.txt
-r requirements/codestyle.txt
-r requirements/packaging.txt
